.big-box {
  width: 72%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
}

.small-box {
  width: 22%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
}