.main-marvel-box {
  width: 100%;
  height: 98%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: auto;
}

.main-marvel-box::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.main-marvel-box::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: red;
}