.wholeWindow {
    height: calc(100vh - 90px);
    background-color: red;

}
.MuiPagination-ul {
    justify-content: center;
    margin: 5px 0px!important;
}
.MuiInputBase-root {
    width: calc(100% - 48px);
    padding: 2px 4px;
}